.svn
.hg
bin
obj
_ReSharper*
/test
/release
/packages_built

*.suo
*.user 
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.dotCover
*.cache
*~
*.swp
*.bak
*.orig
*.log
*.pidb
*userprefs

_git-log.output
GlobalAssemblyInfo.cs