<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="pipelines" type="Remora.Configuration.PipelinesConfigurationSectionHandler, Remora" />
  </configSections>

  <castle>
    <components>
      <component id="testcomponentone" type="Remora.Tests.TestComponentOne, Remora.Tests" service="Remora.Pipeline.IPipelineComponent, Remora" />
      <component id="testcomponenttwo" type="Remora.Tests.TestComponentTwo, Remora.Tests" service="Remora.Pipeline.IPipelineComponent, Remora" />
    </components>
  </castle>
  
  <pipelines>
    <pipeline id="simpleone" filter="/foo/(.*)" rewrite="http://tempuri.org/$1" addProp="addValue" />

    <pipeline id="anotherone" filter="/bar/(.*)" rewrite="http://tempuri.org/$1">
      <component id="testcomponentone" foo="bar" />
      <component id="testcomponenttwo" />
    </pipeline>
  </pipelines>
  
</configuration>