<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="minimalSample" type="Remora.RemoraConfigurationSectionHandler, Remora"/>
    <section name="overrideComponents" type="Remora.RemoraConfigurationSectionHandler, Remora"/>
    <section name="completeSample" type="Remora.RemoraConfigurationSectionHandler, Remora"/>
  </configSections>

  <minimalSample />

  <overrideComponents>
    <requestProcessor type="Remora.Tests.CustomRequestProcessor, Remora.Tests" />
    <categoryResolver type="Remora.Tests.CustomCategoryResolver, Remora.Tests" />
  </overrideComponents>

  <completeSample>
    <categories>
      <category></category>
      <category name="SampleCategory" property1="foo" property2="bar">
        <component type="Remora.Tests.CustomPipelineComponent, Remora.Tests" property3="foo" property4="bar" />
        <component type="Remora.Tests.CustomPipelineComponent, Remora.Tests" property5="foo" property6="bar" />
      </category>
    </categories>
  </completeSample>
  
</configuration>