<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="remora.host" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="badServiceNode" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="badListenerNode" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="emptyPrefixForListenerNode" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
  </configSections>

  <remora.host>
    <service name="serviceName" displayName="displayName" description="description" />
    <listeners>
      <listener prefix="http://+:9091/" />
      <listener prefix="http://+:9092/" />
    </listeners>
  </remora.host>

  <badServiceNode>
    <service foo="bar" />
  </badServiceNode>

  <badListenerNode>
    <listeners>
      <listener foo="bar" />
    </listeners>
  </badListenerNode>

  <emptyPrefixForListenerNode>
    <listeners>
      <listener prefix="" />
    </listeners>
  </emptyPrefixForListenerNode>
  
</configuration>