<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="remora.host" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="badServiceNode" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="badBindingNode" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="emptyPrefixForBindingNode" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="localService" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="localSystem" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="networkService" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="runAsUser" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="badRunAsValue" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
    <section name="badRunAsUser" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host"/>
  </configSections>

  <remora.host>
    <service name="serviceName" displayName="displayName" description="description" runAs="LocalSystem" />
    <bindings>
      <binding prefix="http://+:9091/" />
      <binding prefix="http://+:9092/" />
    </bindings>
  </remora.host>

  <badServiceNode>
    <service foo="bar" />
  </badServiceNode>

  <badBindingNode>
    <bindings>
      <binding foo="bar" />
    </bindings>
  </badBindingNode>

  <emptyPrefixForBindingNode>
    <bindings>
      <binding prefix="" />
    </bindings>
  </emptyPrefixForBindingNode>

  <localService>
    <service runAs="localService" />
  </localService>

  <localSystem>
    <service runAs="localSystem" />
  </localSystem>

  <networkService>
    <service runAs="networkService" />
  </networkService>

  <runAsUser>
    <service runAs="user" username="foo" password="bar" />
  </runAsUser>

  <badRunAsValue>
    <service runAs="foo" />
  </badRunAsValue>

  <badRunAsUser>
    <service runAs="user" username="" />
  </badRunAsUser>
  
</configuration>