<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Core-log4net" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.4" />
  <package id="Castle.Windsor-log4net" version="2.5.2" />
  <package id="Common.Logging" version="2.0.0" />
  <package id="Common.Logging.Log4Net" version="2.0.0" />
  <package id="log4net" version="1.2.10" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="Quartz" version="1.0.3" />
  <package id="RhinoMocks" version="3.6" />
</packages>