<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="remora.host" type="Remora.Host.Configuration.RemoraHostConfigurationSectionHandler, Remora.Host" />
    <section name="remora" type="Remora.Configuration.RemoraConfigurationSectionHandler, Remora" />
  </configSections>

  <remora.host>
    <bindings>
      <binding prefix="http://*:9090/" />
    </bindings>
    
  </remora.host>

  <remora>
    <pipelines>
      <pipeline id="image" filter="http://(.+)/cgi" rewrite="http://www.cgi.com/sites/cgi.com/themes/cgi/logo.png" />
    </pipelines>
  </remora>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>